html * {
  font-family: 'Bilbo Swash Caps', cursive;
  font-size: 48px;
  color-profile: sRGB;
}
h1{
  text-transform: capitalize;
  font-size: 200%;
}
img {
  margin-bottom: 0%;
  width: 56px;
}
html body {
  background-color: #586e75;/*.base01*/
}
html a:hover {
  background-color: #657b83;/*.base00*/
}
.base03   {color: #002b36; }
.base02   {color: #073642; }
.base01   {color: #586e75; }
.base00   {color: #657b83; }
.base0    {color: #839496; }
.base1    {color: #93a1a1; }
.base2    {color: #eee8d5; }
.base3    {color: #fdf6e3; }
.yellow   {color: #b58900; }
.orange   {color: #cb4b16; }
.red      {color: #dc322f; }
.magenta  {color: #d33682; }
.violet   {color: #6c71c4; }
.blue     {color: #268bd2; }
.cyan     {color: #2aa198; }
.green    {color: #859900; }
.Center-Block {
  width: 60%;
  height: 60%;
  padding: 10%;
  margin:auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@media print {
  body {
    margin: 0;
  }
  * {
    color: #000 !important;
  }
}
@media (max-device-width: 640px) {
  h1{
    text-transform: capitalize;
    font-size: 100%;
  }
  .Center-Block {
    width: 80%;
    height: 100%;
    padding: 0%;
  }
}